<<<<<<< HEAD
/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
*/
=======
>>>>>>> fbf0008a47db5d7946a86d8aa5ba7af192c61094
// Base Class Definition
// -------------------------

/*
.@{fa-css-prefix} {
  display: inline-block;
  font-family: FontJspwiki;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //adopted .fa-fw (fixed width) style
  width: (18em / 14);
  text-align: center;
<<<<<<< HEAD
 
}
*/

=======

}
*/

.icon--all,
>>>>>>> fbf0008a47db5d7946a86d8aa5ba7af192c61094
[class^="icon-"], [class*=" icon-"] {
	font-family: 'FontJspwiki';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
<<<<<<< HEAD
	line-height: 1;
=======
	line-height: @line-height-base;

    position:relative;
    top:.1em;
>>>>>>> fbf0008a47db5d7946a86d8aa5ba7af192c61094

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
	
=======

>>>>>>> fbf0008a47db5d7946a86d8aa5ba7af192c61094
	&:hover { text-decoration:none; }
}
